<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace类似于类的完全限定名-->
<mapper namespace="com.kaishengit.mapper.SalesMapper">
    <insert id="saveSales">
        INSERT INTO t_sales(name, price, custid, custname, progress, lastime, userid, username, successtime)
        VALUES (#{name},#{price},#{custid},#{custname},#{progress},#{lastime},#{userid},#{username},#{successtime})
    </insert>


    <select id="findByParam" resultType="com.kaishengit.pojo.Sales">
        select * FROM  t_sales
        <where>
            <if test="userid != null and userid != ''">
                userid = #{userid}
            </if>
            <if test="name != null and name != ''">
                and name like concat('%',#{name},'%')
            </if>
            <if test="progress != null and progress != ''">
                and progress like concat('%',#{progress},'%')
            </if>
            <if test="startdate != null and startdate != ''">
                and date(lastime) >= #{startdate}
            </if>
            <if test="enddate != null and enddate != ''">
                and date(lastime) &lt; = #{enddate}
            </if>
        </where>
        order by id desc
        limit ${start},${length}
    </select>

    <select id="countByParam" resultType="Long">
        SELECT COUNT(*)
        <where>
            <if test="userid != null and userid != ''">
                userid = #{userid}
            </if>
            <if test="name != null and name != ''">
                and name like concat('%',#{name},'%')
            </if>
            <if test="progress != null and progress != ''">
                and progress like concat('%',#{progress},'%')
            </if>
            <if test="startdate != null and startdate != ''">
                and date(lastime) >= #{startdate}
            </if>
            <if test="enddate != null and enddate != ''">
                and date(lastime) &lt; = #{enddate}
            </if>
        </where>

    </select>
    <select id="countMoneyByTime" resultType="java.lang.Long">
        SELECT  sum(price) FROM t_sales WHERE date(createtime) >= #{start} and date(successtime) &lt;= #{end} and progress = #{state}
    </select>
    <select id="findStateCount" resultType="java.lang.Long">
        SELECT sum(progress) FROM t_sales WHERE  date(createtime) >= #{start} and date(successtime) &lt;= #{end} and progress = #{state}
    </select>
    <select id="findAllByTime" resultType="java.util.Map">
        SELECT user.realname (IFNULL(sum(price),0) FROM t_sales WHERE userid = user.id AND
        date(createtime)>= #{start} and date(successtime) &lt;= #{end}) as price
        from (SELECT id,realname FROM t_sales)as user
    </select>
    <select id="findProgress" resultType="java.util.Map">
     SELECT  temp.custtype as 'name',(SELECT count(*) FROM t_sales WHERE sales.progress = temp.custtype and date(createtime) >= #{start} and date(successtime) &lt;= #{end}) as value
        from (select '初次接触' as ''custtype
         UNION SELECT '确认意向'
        UNION SELECT '提供合同'
        UNION SELECT '完成交易'
        UNION SELECT '交易搁置') as temp
    </select>
</mapper>