<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace类似于类的完全限定名-->
<mapper namespace="com.kaishengit.mapper.NodeMapper">
    <cache eviction="FIFO" readOnly="false" size="2048" flushInterval="60000"/>

<insert id="bat`hSave" parameterType="list" flushCache="false">
    INSERT INTO admin(name,password) VALUES
    <foreach collection="list" item="node" separator=",">
        (#{node.name},#{node.password})
    </foreach>
</insert>
    <delete id="del" parameterType="list">
        DELETE FROM admin WHERE id IN
        <foreach collection="list" item="user" separator=","  open="(" close=")">
            #{user}
        </foreach>
    </delete>

    <select id="findAll" resultType="User">
        SELECT * FROM  admin
    </select>

    <select id="findById" parameterType="int" resultType="com.kaishengit.pojo.Node" useCache="false">
        SELECT * FROM t_node
        <where></where>
        <if test="id != null and id != '' ">
            id = #{id}
        </if>

    </select>

</mapper>